.add-blog-container{
    padding: 30px;
    border: 1px solid #ccc;
    /* box-sizing: border-box; */
    box-shadow: 0px 3px #eee;
    width: 700px;
    /* min-height: 450px; */
    display: inline-grid;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
