.container{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0px 3px #eee;
    width: 300px;
    min-height: 450px;
    display: inline-grid;
}

.container:hover{
    cursor: pointer;
}

.btn{
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;

}

a{
    text-decoration: none;
    color: white;
}