.container{
    margin: 20px 40px;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 5px 8px #eee;
    width: 300px;
    min-height: 450px;
    display: inline-grid;
    border-radius: 52px;
}

.container:hover{
    cursor: pointer;
}
.posts{
    margin: 60px;
    margin-left: 100px;
}
.btn{
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;

}

a{
    text-decoration: none;
    color: white;
}