textarea{
    height: auto;
    width: 100%;
    font-family: inherit;
    text-align: justify;
    border: 1px solid grey;
    padding: 10px;
}
.btn-update{
    width: 104%;
}
.btn-inp{
    color: white;
}
.p{
    font-weight: bold;
}
.container-edit{
    padding: 30px;
    padding-right: 40px;
    border: 1px solid #ccc;
    /* box-sizing: border-box; */
    box-shadow: 0px 3px #eee;
    width: 700px;
    min-height: 450px;
    display: inline-grid;
    background-color: #f9fcfb;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}